@font-face {
  font-family: 'PT Astra Sans';
  src: url('../../shared/assets/fonts/AstraRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Astra Sans';
  src: url('../../shared/assets/fonts/AstraBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Astra Sans';
  src: url('../../shared/assets/fonts/AstraBoldItalic.ttf') format('ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Astra Sans';
  src: url('../../shared/assets/fonts/AstraItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}